*{
  padding: 0;
  margin: 0;
}

nav{
  background-color: #ffe6e6;
}

header{
  background: #ffe6e6;
}

nav ul{
  margin: 0;
}

h2{
  font-size: 19px;
}

h1{
  text-align: center;
  width: 100%;
}

.clm img{
height: 210px;
width: 240px;
float: right;
}
